*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.outline{
    outline: 1px solid black;
}

.h_50{
    height: 50px;
}

.w_100{
    width: 100px;
}

.button-reset{
    text-decoration: none;
    border: none;
}

.link-reset{
    text-decoration: none;
    color: white;
}

.m_r3{
    margin: 0em .3em;
}

/* Nav */

#nav-container .row{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

/* header */

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 0 10px;
    z-index: 999;
}

header img {
    max-height: 40px;
}

.fa-magnifying-glass {
    position: relative;
    font-size: 1.25rem;
    top: 10px;
    left: 35px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-search-bar {
    flex-grow: 1;
}

.header-icon > ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
}

.header-icon li {
    margin-right: 1.1em;
}

.header-icon a {
    color: black;
}

.header-icon .fa-bell {
    color: rgb(255, 143, 0);
}

/* sidebar */


#sidebar_main{
    position: absolute;
    height: calc(100vh - 70px);
    width: 15%;
    position: fixed;
}


#sidebar_main .row_side{
    height: 100%;
}


.row_side{
    background-color: #051e34;
    padding: 1.5em;
    padding-right: 1.875rem;
}
    
#sidebar ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    padding-left: 0;
}

#sidebar_main a {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

#sidebar_main li{
    list-style-type: none;
    padding: .3em 0em;
}

.pd_lf0 {
    padding-left: 0rem;
  }

/* main */

#main_cont{
    position: relative;
    margin-top: 70px;
}


#content_main{
    overflow-y: auto;
    position: absolute;
    left: 15%;
    width: calc(100% - 15%);
    height: calc(100vh - 70px);
    outline: 2px solid red;
}

#content_main .row{
    background-color: #1b72e8;
}

#content_main a:hover{
    color:white;
}

.button_link{

    background-color: #165bba;
    border-radius: 3em;
}

.fnt_size{
    font-size: .7em;
}

.ms-badge{
    background-color: #051e3441;
    margin-left: .3em;
}